@model Crawler.WebApplication.Models.LinkResult;
@{
    ViewData["Title"] = "Test result page";
}

<body>
    
    @await Html.PartialAsync("_UrlResult")

    @await Html.PartialAsync("_UrlSitemap")

    @await Html.PartialAsync("_UrlWebSite")
    
</body>

