@model Crawler.WebApplication.Models.TestResult;
@{
    ViewData["Title"] = "Tests Page";
    List<SelectListItem> selectItems = new List<SelectListItem>() { new SelectListItem("5", "5"), new SelectListItem("10", "10"), new SelectListItem("15", "15") };
}

@await Html.PartialAsync("Form", new InputUrl())

<form asp-action="Index">
    <input type="hidden" asp-for="PageNumber" value="@Model.PageNumber">

<div class="form-group">
    <label>Size</label>
    <select class="form-control" name="PageSize" asp-items="selectItems" onchange="this.form.submit()">
                
   </select>
</div>
</form>
<div class="container mt-5">

    <div class="row text-center mt-5 table-responsive">
        <h1 class="h2">Test results</h1>
        <table id="testsTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="w-50">Website</th>
                    <th class="w-25">Date</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in Model.Tests)
                {
                    <tr>
                        <td>@test.Url</td>
                        <td>@test.Date</td>
                        <td><a asp-action="LinkResult" asp-controller="TestResult" asp-route-id=@test.Id>see details</a></td>
                    </tr>
                }
            </tbody>
        </table>
        
        @if (Model.PageNumber > 0)
        {
            <div class="btn-group">
                @{
                    
                    <a asp-action="Index" asp-controller="Home" asp-route-numberOfPage=@(Model.PageNumber - 1) asp-route-pageSize=@Model.PageSize>prev</a>  
                }
            </div>    
        }
        <div class="btn-group">
             @{
                
                 <a asp-action="Index" asp-controller="Home" asp-route-numberOfPage=@(Model.PageNumber + 1) asp-route-pageSize=@Model.PageSize>next</a>
                
             }
        </div>
    </div>
</div>



