@model Crawler.WebApplication.Models.LinkResult;

<div class="container mt-5">
   <div class="row border-bottom">
        <h1 class="h2"></h1>
   </div>

    <div class="row mt-5 table-responsive d-flex">
        <h1 class="h2">PERFORMANCE</h1>
        <table id="performanceTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col">Url</th>
                    <th class="flex-column">Timing</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Links)
                { 
                    <tr>
                        <td>@result.Url</td>
                        <td class="text-center">@result.ResponseTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>