<div class="row mt-5 table-responsive">
        <h1 class="h2">URLs NOT FOUND AT WEBSITE</h1>
        <table id="onlySitemapUrlsTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Url</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var url in Model.Links)
                {
                    @if(url.InSitemap == true && url.InWebsite == false)
                    {
                        <tr>
                           <td>@url.Url</td>
                        </tr>    
                    }
                }
            </tbody>
        </table>
    </div>